{# templates/typeElementPiece/list.html.twig #}
{% extends 'abstract/list.html.twig' %}

{% block list_header %}{% endblock %}
{% block list_columns %}
    <td>Piece id &nbsp</td>
    <td>Element id &nbsp</td>
{% endblock %}
{% block list_entity %}
    <td> &nbsp{{ entity.getTypePieceId() }} &nbsp</td>
    <td> &nbsp{{ entity.getTypeElementId() }} &nbsp</td>    
{% endblock %}
