{# templates/client/list.html.twig #}

{% block list %}
    <td>{{ entity.getNom() }}</td>
    <td>{{ entity.getAdresse() }}</td>
    <td>{{ entity.getTelephone() }}</td>
    <td>{{ entity.getEmail() }}</td>
{% endblock %}
