{# templates/typeTache/create.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Créer un type de tâche{% endblock %}

{% block body %}
    <h1>Créer un type de tâche</h1>
    {% if error is defined %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="post" action="/type-tache/create">
        <div>
            <label for="libelle">Libellé :</label>
            <input type="text" id="libelle" name="libelle" required>
        </div>
        <div>
            <label for="description">Description :</label>
            <textarea id="description" name="description"></textarea>
        </div>
        <button type="submit">Créer</button>
    </form>
    <a href="/type-tache">Retour à la liste</a>
{% endblock %}
