{# templates/chantierClient/list.html.twig #}

{% block list %}
    <td>{{ entity.getAdresse() }}</td>
    <td>{{ entity.getDateDebut() }}</td>
    <td>{{ entity.getDateFin() }}</td>
    <td>{{ entity.getLibelle() }}</td>
{% endblock %}
