{# templates/tacheElement/list.html.twig #}

{% block list %}
    <td>{{ entity.getTETId() }}</td>
    <td>{{ entity.getElementId() }}</td>
    <td>{{ entity.getOrdre() }}</td>
    <td>{{ entity.getStatut() }}</td>
{% endblock %}