{# templates/typeAction/show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Détails du type d'action{% endblock %}

{% block body %}
    <h1>Détails du type d'action : {{ typeAction.getLibelle() }}</h1>
    <p>ID : {{ typeAction.getId() }}</p>
    <a href="/type-action">Retour à la liste</a>
{% endblock %}
