{# templates/typeFinition/show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Détails du type de finition{% endblock %}

{% block body %}
    <h1>Détails du type de finition : {{ typeFinition.getLibelle() }}</h1>
    <p>ID : {{ typeFinition.getId() }}</p>
    <a href="/type-finition">Retour à la liste</a>
{% endblock %}
