{# templates/typeElement/update.html.twig #}
<label for="traitement">Traitement :</label>
<select name="traitement" id="traitement" required>
    <option value="{{ entity.getTraitement() }}">-- A {{ entity.getTraitement() }} --</option>
    <option value="masquer">À masquer</option>
    <option value="traiter">À traiter</option>
    <option value="demonter">À démonter</option>
</select>


